@page "/"

<section class="hero is-link is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered reverse-columns">
          <div class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd" data-aos="fade-down">
            <h1 class="title titled is-1 mb-6">
              absurd illustrations that make sense
            </h1>
            <h2 class=" subtitled subtitle has-text-grey is-4 has-text-weight-normal is-family-sans-serif">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum cupiditate dolorum vitae dolores
              nesciunt totam magni quas.
            </h2>
            <div class="buttons">
              <button class="button is-black">Download</button>
              <button class="button">Subscribe</button>
            </div>
          </div>
          <div data-aos="fade-right" class="column
            is-10-mobile is-offset-1-mobile
            is-10-tablet is-offset-1-tablet
            is-4-desktop is-offset-1-desktop
            is-4-widescreen is-offset-1-widescreen
            is-4-fullhd is-offset-1-fullhd">
            <figure class="image is-square">
              <img src="images/coding.png">
            </figure>
          </div>

        </div>

        
      </div>
    </div>
  </section>
  

<section class="hero">
    <div class="hero-body">
      <div class="container">
        
        <section class="info-tiles">
            <div class="tile is-ancestor has-text-centered">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title black">439k</p>
                        <p class="subtitle black">Users</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title black">59k</p>
                        <p class="subtitle black">Products</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title black">3.4k</p>
                        <p class="subtitle black">Open Orders</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title black">19</p>
                        <p class="subtitle black">Exceptions</p>
                    </article>
                </div>
            </div>
        </section>

        
      </div>
    </div>
  </section>

  