@page "/"
@inject IRequestService RequestService

<section class="hero is-medium">
  <div class="hero-body">
    <div>
        <RequestsGroup 
          ShowAddNew="false" 
          ProfilePictureHandler="(k => k.SystemUser.ProfileUrl)" 
          UsernameHandler="(k => k.SystemUser.Name)"
          LoadDataHandler="(page => RequestService.GetAll(new QueryParameters() { Count = 9, Page = page }))"></RequestsGroup>
    </div>
  </div>
</section>


@* <section class="hero">
  <div class="hero-body">
    <div class="container">

      <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title black">439k</p>
              <p class="subtitle black">Users</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title black">59k</p>
              <p class="subtitle black">Products</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title black">3.4k</p>
              <p class="subtitle black">Open Orders</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title black">19</p>
              <p class="subtitle black">Exceptions</p>
            </article>
          </div>
        </div>
      </section>

    </div>
  </div>
</section> *@

@code {
  protected override async Task OnParametersSetAsync()
  {
   
  }

}