@page "/"
@inject IRequestService RequestService

<section class="hero is-medium">
  <div class="hero-body">
    <div>
        <RequestsGroup 
          ShowAddNew="false" 
          ProfilePictureHandler="(k => k.SystemUser.ProfileUrl)" 
          UsernameHandler="(k => k.SystemUser.Name)"
          LoadDataHandler="(page => RequestService.GetAll(new QueryParameters() { Count = 9, Page = page }))"></RequestsGroup>
    </div>
  </div>
</section>


@code {
  protected override async Task OnParametersSetAsync()
  {
   
  }

}