@inject ILoginService LoginService
@inject NavigationManager NavigationManager
<section class="hero is-link ">
    <div class="hero-head">
       <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                <img src="images/logo.png" width="112" height="28">
                </a>


                <a role="button" 
                    class="navbar-burger burger @IsActiveClass" 
                    @onclick="(k => isVisibleMenu = !isVisibleMenu)">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                <NavLink class="navbar-item" href="/" ActiveClass="is-active" Match="NavLinkMatch.All">
                    <span>Home</span> 
                </NavLink>
               
                <NavLink class="navbar-item" href="/requests" ActiveClass="is-active" Match="NavLinkMatch.All">
                    <span>Requests</span> 
                </NavLink>
               
                
                </div>

                <div class="navbar-end">
                    @if (isAuth)
                    {
                        <div class="buttons">
                            <a class="button" href="https://github.com/ddgranizo/dd-youtube-refactorizando" target="_blank">
                                <span class="icon">
                                <i class="mdi mdi-github"></i>
                                </span>
                            </a>
                          
                            <button class="button" @onclick="Logout">
                                <span class="icon">
                                <i class="mdi mdi-logout"></i>
                                </span>
                                <span>@authIdentity</span>
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="buttons">
                            <a class="button" href="https://github.com/ddgranizo/dd-youtube-refactorizando" target="_blank">
                                <span class="icon">
                                <i class="mdi mdi-github"></i>
                                </span>
                            </a>
                            <a class="button is-primary" href="/signup">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="/login">
                                Log in
                            </a>
                        </div>
                    }
                </div>
            </div>
            </nav>
    </div>
</section>



@if (isVisibleMenu)
{
    <div class="container is-fullwidth" @onclick="(k => isVisibleMenu = false)" >
        <div class="notification">
            
            <aside class="menu">
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list">
                   <li>
                    <NavLink class="navbar-item" href="/" ActiveClass="is-active" Match="NavLinkMatch.All">
                        <span>Home</span> 
                    </NavLink>
                    </li>
                    <li>
                    <NavLink class="navbar-item" href="/requests" ActiveClass="is-active" Match="NavLinkMatch.All">
                        <span>Requests</span> 
                    </NavLink>
                    </li>
                </ul>
                 <p class="menu-label">
                    Account
                </p>
                <ul class="menu-list">
                    @if (isAuth)
                    {
                        <li>
                        <a class="navbar-item" @onclick:preventDefault @onclick="Logout">
                            <span>Logout</span> 
                        </a>
                        </li>
                    }
                    else
                    {
                        <div class="buttons">
                            <a class="button is-primary" href="/signup">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="/login">
                                Log in
                            </a>
                        </div>
                    }
                    </ul>
                </aside>
        </div>
    </div>

}

@code{
    private bool isVisibleMenu;
    private string IsActiveClass => isVisibleMenu ? "is-active" : "";
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }

    private async Task Logout(){
        await LoginService.Logout();
        NavigationManager.NavigateTo("/", true);
    }
    private bool isAuth;
    private string authIdentity;
    protected override async Task OnInitializedAsync()
    {   
        if (AuthenticationState != null)
        {
            var auth =  await AuthenticationState;
            isAuth = auth.User.Identity.IsAuthenticated;
            authIdentity = auth.User.Identity.Name;
        }
    }
}